$green_500: #1bc481;
$green_800: #f0f3f3;
$blue_300: #6fc5ff;
$blue_500: #17a1ff;
$sky_blue: #f1f9ff;
$blue_recruit_500: #1535b3;
$blue_facebook: #1877f2;
$google: #e5eaea;
$green_naver: #03cf5d;
$orange_500: #fe883c;
$yellow_500: #ecbd00;
$yellow_600: #ffcd26;
$red_100: #fdf3f3;
$red_500: #ff0322;
$indigo_500: #005f74;
$inidigo_550: #036fa5;
$indigo_600: #034758;
$white: #ffffff;
$black: #1a1b1c;
$gray_50: #f8fbfb;
$gray_100: #f0f3f3;
$gray_200: #e5eaea;
$gray_300: #d2d7d7;
$gray_500: #aab1b1;
$gray_700: #939999;
$gray_900: #384040;
$main_background_color: #05395c;
$main_background_color_active: #0a4d7a;
$main_text_color: #abb1b1;
$transparent: transparent;
